<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve les fichiers existants directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige tout vers index.php
    RewriteRule ^.*$ public/index.php [L]

</IfModule>
