<IfModule mod_rewrite.c>
    # Désactive le cache navigateur
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0

    RewriteEngine On

    # Si le fichier ou dossier demandé existe, on le sert directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, on redirige tout vers public/index.php
    RewriteRule ^.*$ public/index.php [L]
</IfModule>
